@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    
</hgroup>



<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:ragsdalewn@goldmail.etsu.edu">ragsdalewn@goldmail.etsu.edu</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        2104 Jefferson Ave.<br />
       Knoxville, TN 37917
    </p>
</section>